@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');


html {
    font-size: 10px;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    background: rgb(255,255,255);
    background: linear-gradient(145deg, rgba(255,255,255,1) 0%, rgba(166,166,166,1) 32%, rgba(84,124,184,1) 65%, rgba(61,96,124,1) 100%, rgba(48,60,105,1) 100%);
}

p,label {
    color: rgb(0, 0, 0);
    font-size: 3rem;
}

.elements {
    margin-top: 4.5rem;
    font-family: 'Roboto', 'sans-serif';
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    font-size: 2.8rem;
    padding: 15px 40px 15px 40px;
    transition: all linear 0.1s;
}

button:hover {
    background: rgb(77, 2, 107);
    cursor: pointer;
    font-size: 2.8rem;
    padding: 17px 43px 17px 43px;
}

#header {
    margin-top: 6rem;
    font-family: 'Lato', 'sans-serif';
    font-size: 6rem;     
}

