@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');


html {
    font-size: 10px;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    background: rgb(255,255,255);
    background: linear-gradient(145deg, rgba(255,255,255,1) 0%, rgba(166,166,166,1) 32%, rgba(84,124,184,1) 65%, rgba(61,96,124,1) 100%, rgba(48,60,105,1) 100%);
}

#gameMode {
    display: none;
}

.container{
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

p,label {
    color: rgb(0, 0, 0);
    font-size: 3rem;
}

.elements {
    margin-top: 4.5rem;
    font-family: 'Roboto', 'sans-serif';
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    font-size: 2.8rem;
    padding: 15px 40px 15px 40px;
    transition: all linear 0.1s;
}

#selections button{
    padding: 10px 30px 10px 30px;
    background-color: rgb(240, 240, 240);
    border: solid 3px rgb(0, 0, 0);
}

#selections button:hover {
    padding: 13px 33px 13px 33px;
    background-color: rgb(196, 26, 26, 0.9);
}

button:hover {
    background: rgb(196, 26, 26, 0.9);;
    cursor: pointer;
    font-size: 2.8rem;
    padding: 17px 43px 17px 43px;
}

#header {
    margin-top: 6rem;
    font-family: 'Lato', 'sans-serif';
    font-size: 6rem;     
}

.secondContainer{
    width: 60rem;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

#computerSelection {
    display: block;
    background-color: rgb(255, 248, 248);
    width: 20rem;
    height: 20rem;
    border: solid 3px rgb(0, 0, 0);
}

.results {
    display: block;
    border: 1px solid black;
    padding: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    font-size: 2.3rem;
}

#showTable {
    width: 80rem;
    align-items: flex-start;
}

#score {
    text-align: left;
}

#message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 4rem;
}

.gameIcons{
    width: 80%;
    height: auto;
}